:root { /* Raiz do CSS (Abrenge todo o documento) */
    --color-background: #F0F0F7; /* Variáveis no CSS */
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-agendamento: #3719e4e5;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #000000;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    /**/
    font-size: 60%; /* controle das medidas rem*/
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
}

.hidden {
    display: none;
}

#text-top {
    font: 700 2.4rem Archivo;
}


.botoes #on,
.botoes #agendar  {
    margin-top: 20px;
    height: 30px;
    width: 100px;
    background: var(--color-secondary);
    border-radius: 10px;
    font: 700 1.4rem Archivo;
    width: 250px;
    height: 50px;

}

.botoes #on {
    margin-right: 20px;
}

.botoes #agendar {
    background: var(--color-agendamento);
}

#add-time {
    display: flex;
    align-items: center;
    justify-content: center ;
    color: var(--color-text-complement);
    font: 700 1.4rem Archivo;
    padding: 3px;
    background: green;
    border-radius: 12%;
    margin-top: 20px;
    margin-bottom: 7px;
    width: 75px;
}

.all-inputs{
    border: none;
    margin-top: .8px;
    color: var(--color-text-base);
    background: var(--color-text-in-primary);
    font: 700 1.4rem Archivo;
    width: 400px;
    padding: auto;
}



.led {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hora {
   display: flex; 
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
}

.data {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; 
}


#input-led {
    width: 40px;
}

#input-hora {
    width: 120px;
}

#input-data {
    width: 120px;

}

.all-inputs {
    margin-top: 20px;
    border-radius: 10px;
}


.all-inputs .led-on {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

.all-inputs #on{
    color: var(--color-text-complement);
    font: 700 10px Archivo;
    padding: 3px;
    background: green;
    width: 15px;
    margin-right: -50px;
}


.all-inputs #off{
    color: var(--color-text-complement);
    font: 700 10px Archivo;
    padding: 3px;
    background: rgba(248, 1, 1, 0.87);
    width: 15px;
}